/*------------------------------------*\
	Global Breakpoints
	These are the standard breakpoints
	for now and will need updating and
	more adding as we go along.
\*------------------------------------*/
$brk-s: 768px !default;
$brk-m: 1024px !default;
$brk-l: 1600px !default;