@font-face {
    font-family: 'Icons';
    src: url('#{$fontPath}/icons/icons.eot');
    src: url('#{$fontPath}/icons/icons.eot?#iefix') format("embedded-opentype"),
    	 url('#{$fontPath}/icons/icons.woff2') format("woff2"),
    	 url('#{$fontPath}/icons/icons.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}